<script setup lang="ts">
import type { Feed } from "@/model";
import { reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import { addFeed } from "@/services/backend";
import { NotificationLevel } from "@/model/notification";

const notification = reactive({
  showElement: false,
  message: "",
  level: NotificationLevel.info as NotificationLevel,
});

const newFeed: Feed = reactive({
  rss_url: "",
  category: "",
});

async function addFeedVue() {
  addFeed(newFeed)
    .then(() => {
      notification.message = "Feed created.";
      notification.level = NotificationLevel.info;
    })
    .catch((e) => {
      if (e.response.status < 500) {
        notification.message = e.response.data.error;
      } else {
        notification.message = "connection to backend lost";
      }
      notification.level = NotificationLevel.error;
    })
    .finally(() => {
      notification.showElement = true;
    });
}
</script>

<template>
  <label class="label">RSS URL</label>
  <div class="control">
    <input
      v-model="newFeed.rss_url"
      class="input"
      type="text"
      data-test="rss-url-input"
      required
    />
  </div>

  <label class="label">Category</label>
  <div class="control">
    <input
      v-model="newFeed.category"
      class="input"
      type="text"
      data-test="category-input"
      required
    />
  </div>

  <button @click="addFeedVue" class="button is-link">Add feed</button>

  <NotificationComponent
    :message="notification.message"
    :show-element-bind="notification.showElement"
    :level="notification.level"
  />
</template>

<style scoped>
@media screen and (max-width: 480px) {
  input {
    width: 94%;
  }
}
</style>
