<script setup lang="ts">
import { deleteFeed } from "@/services/backend";
import router from "@/router";
import { useRoute } from "vue-router";

const route = useRoute();

async function deleteFileFrontend() {
  await deleteFeed(route.params.id as string)
    .then(() => {
      router.push({ name: "list-feeds" });
    })
    .catch((e) => {
      // Should not be possible anyway
      console.log(e);
    });
}
</script>

<template>
  <h2>
    You sure you want to delete file
    <div class="file">{{ route.params.name }}</div>
  </h2>
  <button class="button button-yes" @click="deleteFileFrontend">Yup</button>
  <button class="button button-no" @click="$router.go(-1)">Nope</button>
</template>

<style scoped>
h2 {
  font-weight: normal;
}

.file {
  font-weight: bold;
  font-size: 2rem;
}

button {
  margin: 10px 20px;
}

.button-yes {
  background-color: var(--color2);
}

@media screen and (max-width: 480px) {
  button {
    width: 40%;
    margin: 10px 4px;
  }
}
</style>
