<script setup lang="ts">
import { reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import { exportFeeds } from "@/services/backend";
import { NotificationLevel } from "@/model/notification";

const notification = reactive({
  showElement: false,
  message: "",
  level: NotificationLevel.info as NotificationLevel,
});

async function downloadExportedFeeds() {
  exportFeeds()
    .then((response) => {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const fakeLink = document.createElement("a");
      fakeLink.style.display = "none";
      fakeLink.href = url;
      fakeLink.download = "exported_feeds.opml";
      document.body.appendChild(fakeLink);
      fakeLink.click();
      window.URL.revokeObjectURL(url);
    })
    .catch((e) => {
      if (e.response.status < 500) {
        notification.message = e.response.data.error;
      } else {
        notification.message = "connection to backend lost";
      }
      notification.level = NotificationLevel.error;
      notification.showElement = true;
    });
}
</script>

<template>
  <a @click="downloadExportedFeeds" class="button">Download OPML</a>

  <br />
  <NotificationComponent
    :message="notification.message"
    :show-element-bind="notification.showElement"
    :level="notification.level"
  />
</template>

<style scoped>
@media screen and (max-width: 480px) {
  button {
    width: 80%;
  }
}
</style>
