<script setup lang="ts">
import { onMounted, ref, type Ref } from "vue";
import { getFeeds } from "@/services/backend";
import type { Feed } from "@/model";

let feeds: Ref<Feed[]> = ref([]);

function isNewCategory(index: number) {
  if (index < 1) {
    return true;
  }
  return feeds.value[index - 1].category != feeds.value[index].category;
}

onMounted(async () => {
  feeds.value = await getFeeds();
  feeds.value.sort((a, b) => {
    if (a.category < b.category) {
      return -1;
    } else if (a.category > b.category) {
      return 1;
    }
    return 0;
  });
});
</script>

<template>
  <div v-if="feeds.length" v-cloak>
    <ul>
      <li v-for="(feed, index) in feeds" :key="feed.id" data-test="feed">
        <div class="category-label" v-if="isNewCategory(index)">
          {{ feed.category }}
        </div>
        <RouterLink
          :to="{
            name: 'show-feed',
            params: { id: feed.id },
          }"
          >{{ feed.name }}
        </RouterLink>
      </li>
    </ul>
  </div>
</template>

<style scoped>
ul {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  width: 60%;
  list-style-type: none;
}

.category-label {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  font-weight: bold;
}

li:first-child > .category-label {
  border-top: none;
}

@media screen and (max-width: 480px) {
  li {
    width: 94%;
  }
}
</style>
