<script setup lang="ts">
import { reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import { NotificationLevel } from "@/model/notification";
import { importFeeds } from "@/services/backend";

const notification = reactive({
  showElement: false,
  message: "",
  level: NotificationLevel.info as NotificationLevel,
});

var selectedFile: File = reactive({}) as File;

function onFileChange(e: Event) {
  var files: FileList | undefined =
    (e.target as HTMLInputElement).files ||
    (e as DragEvent).dataTransfer?.files;
  if (files !== undefined) {
    selectedFile = files[0];
  } else {
    notification.message = "loading file went wrong";
    notification.level = NotificationLevel.error;
  }
}

async function uploadFileFrontend() {
  await importFeeds(selectedFile)
    .then(() => {
      notification.message = "feeds imported";
    })
    .catch((e) => {
      if (e.response.status < 500) {
        notification.message = e.response.data.error;
      } else {
        notification.message = "connection to backend lost";
      }
      notification.level = NotificationLevel.error;
    })
    .finally(() => {
      notification.showElement = true;
    });
}
</script>

<template>
  <form @submit.prevent="uploadFileFrontend">
    <p>
      <label class="filePicker">
        <input
          @change="onFileChange"
          class="button"
          type="file"
          name="filepath"
          id="filePicker"
          aria-label="filepath"
          required
        />
        Select file
      </label>
    </p>

    <button class="button">Upload file</button>
  </form>

  <NotificationComponent
    :message="notification.message"
    :show-element-bind="notification.showElement"
    :level="notification.level"
  />
</template>

<style scoped>
input[type="file"] {
  display: none;
}

.filePicker {
  background-color: var(--color1);
  border: 1px solid var(--color5);
  border-radius: 1rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 20px;
  font-size: 1.3rem;
  width: 20%;
}

@media screen and (max-width: 480px) {
  button {
    width: 80%;
  }

  .filePicker {
    width: 70%;
  }
}
</style>
