<script setup lang="ts">
import { reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import router from "@/router";
import { useAuthStore } from "@/stores/auth";
import { login } from "@/services/backend";
import { NotificationLevel } from "@/model/notification";

const store = useAuthStore();

const state = reactive({
  username: "",
  password: "",
});

const notification = reactive({
  level: NotificationLevel.info as NotificationLevel,
  message: "",
  showElement: false,
});

function loginVue(): void {
  login(state.username, state.password)
    .then((response) => {
      store.setToken(response.data);
      router.push({ name: "all-unread-feeds" });
    })
    .catch((e) => {
      if (e.response.status < 500) {
        notification.message = e.response.data.error;
      } else {
        notification.message = "connection to backend lost";
      }
      notification.level = NotificationLevel.error;
    })
    .finally(() => {
      notification.showElement = true;
    });
  resetInput();
}

function resetInput(): void {
  state.username = "";
  state.password = "";
}
</script>

<template>
  <form @submit.prevent="loginVue">
    <p>
      <input
        placeholder="Username"
        @keyup.enter="loginVue"
        v-model="state.username"
        class="input"
        type="text"
        data-test="username-input"
        required
      />
    </p>

    <p>
      <input
        placeholder="Password"
        @keyup.enter="loginVue"
        v-model="state.password"
        class="input"
        type="password"
        data-test="password-input"
        required
      />
    </p>

    <button
      class="button"
      id="button-submit-login"
      type="submit"
      data-test="submit"
    >
      Login
    </button>
  </form>

  <NotificationComponent
    :level="notification.level"
    :message="notification.message"
    :show-element-bind="notification.showElement"
  />
</template>

<style scoped>
@media screen and (max-width: 480px) {
  input {
    width: 94%;
  }
}
</style>
