<script setup lang="ts">
import router from "@/router";
import { onMounted } from "vue";
import { useAuthStore } from "@/stores/auth";

const store = useAuthStore();

onMounted(() => {
  store.clearToken();
  setTimeout(() => router.push("/"), 3000);
});
</script>

<template>You have been logged out. Redirecting...</template>
