<script setup lang="ts">
import { onMounted, reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import type { User } from "@/model";
import { getSelfUser, updateSelfUser } from "@/services/backend";
import { Duration } from "@/model/frontend-specific";
import { NotificationLevel } from "@/model/notification";

const notification = reactive({
  level: NotificationLevel.info as NotificationLevel,
  message: "",
  showElement: false,
});

const updatedUser: User = reactive({
  email: "",
  password: "",
  update_interval: new Duration(0),
}) as User;

function saveSettings() {
  updateSelfUser(updatedUser)
    .then(() => {
      notification.message = "Settings updated!";
      notification.level = NotificationLevel.success;
    })
    .catch((e) => {
      notification.message = e.message;
      notification.level = NotificationLevel.error;
    })
    .finally(() => {
      notification.showElement = true;
    });
}

onMounted(() => {
  getSelfUser()
    .then((response) => {
      updatedUser.email = response.data.email;
      // TODO figure this out
      updatedUser.update_interval.fromNs(
        parseInt(response.data.update_interval.toString())
      );
    })
    .catch((e) => {
      notification.message = e.message;
      notification.level = NotificationLevel.error;
      notification.showElement = true;
    });
});
</script>

<template>
  <div id="export-import-links">
    <RouterLink class="button" :to="{ name: 'import-feeds' }"
      >Import feeds</RouterLink
    >
    <RouterLink class="button" :to="{ name: 'export-feeds' }"
      >Export feeds</RouterLink
    >
  </div>

  <label>Update interval (in minutes)</label>
  <div>
    <input
      v-model="updatedUser.update_interval.value"
      type="number"
      data-test="update-interval-input"
      required
    />
  </div>

  <label>Password (Leave empty to not change)</label>
  <div>
    <input
      v-model="updatedUser.password"
      type="password"
      data-test="password-input"
      required
    />
  </div>

  <label>Email</label>
  <div>
    <input
      v-model="updatedUser.email"
      type="text"
      data-test="email-input"
      required
    />
  </div>

  <button class="button" @click="saveSettings">Save changes</button>

  <NotificationComponent
    :message="notification.message"
    :show-element-bind="notification.showElement"
    :level="notification.level"
  />
</template>

<style scoped>
#export-import-links {
  padding-bottom: 40px;
}

label {
  padding: 15px;
}

@media screen and (max-width: 480px) {
  input {
    width: 94%;
  }

  .button {
    min-width: 94%;
  }
}
</style>
