<script setup lang="ts">
import type { User } from "@/model";
import { reactive } from "vue";
import NotificationComponent from "@/components/TheNotification.vue";
import { register } from "@/services/backend";
import { Duration } from "@/model/frontend-specific";
import { NotificationLevel } from "@/model/notification";

const notification = reactive({
  showElement: false,
  errorMessage: "",
  level: NotificationLevel.info as NotificationLevel,
});

const user: User = reactive({
  name: "",
  email: "",
  password: "",
  update_interval: new Duration("15"),
}) as User;

function createNewUser() {
  register(user)
    .then(() => {
      notification.errorMessage = "User created. You can login now.";
      notification.level = NotificationLevel.success;
    })
    .catch((e) => {
      if (e.response.status < 500) {
        notification.errorMessage = e.response.data.error;
      } else {
        notification.errorMessage = "connection to backend lost";
      }
      notification.level = NotificationLevel.error;
      user.password = "";
    })
    .finally(() => {
      notification.showElement = true;
    });
}
</script>

<template>
  <form @submit.prevent="createNewUser">
    <p>
      <input
        type="text"
        name="username"
        placeholder="Username"
        data-test="username-input"
        id="username-input-signup"
        autocomplete="username"
        v-model="user.name"
        required
      />
    </p>

    <p>
      <input
        type="email"
        name="email"
        placeholder="Email"
        data-test="email-input"
        id="email-input-signup"
        autocomplete="email"
        v-model="user.email"
        required
      />
    </p>

    <p>
      <input
        type="password"
        name="password"
        placeholder="Password"
        data-test="password-input"
        id="password-input-signup"
        autocomplete="password"
        v-model="user.password"
        required
      />
    </p>

    <p>
      <label>Feed update interval (in minutes)</label>
      <input
        v-model="user.update_interval.value"
        type="number"
        data-test="update-interval-input"
        required
      />
    </p>

    <button
      class="button"
      id="button-submit-signup"
      type="submit"
      data-test="submit"
    >
      Sign up
    </button>
  </form>

  <NotificationComponent
    :message="notification.errorMessage"
    :show-element-bind="notification.showElement"
    :level="notification.level"
  />
</template>

<style scoped>
label {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  input {
    width: 94%;
  }
}
</style>
