<script setup lang="ts">
import { getEntries, setReadEntry, getFeed } from "@/services/backend";
import type { Feed, FeedEntry } from "@/model";
import { onMounted, ref, type Ref } from "vue";
import { useRoute } from "vue-router";

const feedID = useRoute().params.id as string;

const entries: Ref<FeedEntry[]> = ref([]);

const thisFeed: Ref<Feed> = ref({
  category: "",
  rss_url: "",
});

function setEntryRead(entryID: number) {
  setReadEntry(feedID, entryID).catch((e) => {
    console.log(e);
  });
}

onMounted(() => {
  getEntries(feedID)
    .then((response: FeedEntry[]) => {
      entries.value = response;
    })
    .catch((e) => {
      console.log(e);
    });
  getFeed(feedID)
    .then((response: Feed) => {
      thisFeed.value = response;
    })
    .catch((e) => {
      console.log(e);
    });
});
</script>

<template>
  <div class="tooltip">
    <p id="feedName">{{ thisFeed.name }}</p>
    <a :href="thisFeed.rss_url" class="tooltiptext" id="feedUrl">{{
      thisFeed.rss_url
    }}</a>
  </div>
  <br />
  <a :href="thisFeed.url" id="websiteUrl">{{ thisFeed.url }}</a>
  <br />

  <RouterLink
    class="button button-delete"
    :to="{
      name: 'delete-feed',
      params: { id: thisFeed.id },
    }"
  >
    Delete feed
  </RouterLink>

  <div id="entriesList" v-cloak v-if="entries.length != 0">
    <ul>
      <li v-for="entry in entries" :key="entry.id" data-test="feed">
        <a
          @click="setEntryRead(entry.id)"
          @click.middle="setEntryRead(entry.id)"
          :href="entry.url"
          target="_blank"
          >{{ entry.name }}</a
        >
        {{ entry.date }}
      </li>
    </ul>
  </div>
</template>

<style scoped>
#feedName {
  font-size: 2rem;
  margin-bottom: 2px;
}

#websiteUrl {
  font-size: 1.4rem;
}

#feedUrl {
  font-size: 0.8rem;
}

#entriesList {
  margin-top: 15px;
  font-size: 1.2rem;
}

.button {
  margin-top: 15px;
}

li {
  margin: 4px;
  display: grid;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
