<script setup lang="ts">
import { onMounted, ref, type Ref } from "vue";
import { getAllUnreadEntries, setReadEntry } from "@/services/backend";
import type { FeedEntry } from "@/model";

let entries: Ref<FeedEntry[]> = ref([]);

function setEntryRead(elementIndex: number, feedID: number, entryID: number) {
  setReadEntry(String(feedID), entryID)
    .then(() => {
      if (elementIndex != -1) {
        entries.value.splice(elementIndex, 1);
      }
    })
    .catch((e) => {
      console.log(e);
    });
}

onMounted(() => {
  getAllUnreadEntries()
    .then((response: FeedEntry[]) => {
      entries.value = response;
    })
    .catch((e) => {
      console.log(e);
    });
});
</script>

<template>
  <div v-cloak v-if="entries.length">
    <ul>
      <li v-for="(entry, index) in entries" :key="entry.id" data-test="feed">
        <a
          :href="entry.url"
          target="_blank"
          @click="setEntryRead(index, entry.feed_id, entry.id)"
          @click.middle="setEntryRead(index, entry.feed_id, entry.id)"
          >{{ entry.name }} - {{ entry.feed }}</a
        >
      </li>
    </ul>
  </div>
</template>

<style scoped>
li {
  margin: 4px;
  display: grid;
  font-size: 1.2rem;
}
</style>
