<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref, type Ref } from "vue";

const store = useAuthStore();

const isActive: Ref<boolean> = ref(false);

function toggleBurger() {
  isActive.value = !isActive.value;
}
</script>

<template>
  <nav role="navigation" aria-label="main navigation">
    <RouterLink :to="{ name: 'all-unread-feeds' }"
      ><b id="title">Molo</b></RouterLink
    >
    <ul class="navbar-items">
      <li v-if="store.isLoggedIn()">
        <RouterLink :to="{ name: 'add-feed' }">Add</RouterLink>
      </li>
      <li v-if="store.isLoggedIn()">
        <RouterLink :to="{ name: 'list-feeds' }">Feeds list</RouterLink>
      </li>
      <li v-if="store.isLoggedIn()">
        <RouterLink :to="{ name: 'settings' }">Settings</RouterLink>
      </li>
      <li v-if="!store.isLoggedIn()">
        <RouterLink :to="{ name: 'signup' }">Sign Up</RouterLink>
      </li>
      <li v-if="!store.isLoggedIn()">
        <RouterLink :to="{ name: 'login' }">Log in</RouterLink>
      </li>
      <li v-if="store.isLoggedIn()">
        <RouterLink :to="{ name: 'logout' }">Logout</RouterLink>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
nav {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color3);
}

#title {
  margin-right: auto;
  margin-left: 10vw;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
}

ul {
  display: flex;
  list-style: none;
}

li {
  display: inline-block;
  flex: auto;
  padding: 0px 10px;
}

li:last-child {
  margin-right: 10vw;
}

a {
  color: var(--color1);
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

/* a:hover {
  color: var(--color2);
} */

@media screen and (max-width: 480px) {
  nav {
    padding: 5px 0;
    font-size: 0.8em;
  }

  li {
    padding: 0px 5px;
  }

  #title {
    font-size: 1.8em;
  }
}
</style>
