<script setup lang="ts">
import { computed } from "vue";
import { NotificationLevel } from "@/model/notification";

export interface NotificationProps {
  level?: NotificationLevel;
  message: string;
  showElementBind: boolean;
  timeout?: number;
}

const props = withDefaults(defineProps<NotificationProps>(), {
  level: NotificationLevel.info,
  timeout: 5000,
});

const computedVisualClassName = computed(() => {
  switch (props.level) {
    case NotificationLevel.success:
      return "notification-success";
    case NotificationLevel.info:
      return "notification-info";
    case NotificationLevel.warning:
      return "notification-warning";
    case NotificationLevel.error:
      return "notification-error";
    default:
      return "notification-normal";
  }
});
</script>

<template>
  <!-- TODO: FIGURE OUT WHY THIS NO WORKY!!! -->
  <Transition>
    <div
      v-show="props.showElementBind"
      class="notification"
      :class="computedVisualClassName"
    >
      {{ props.message }}
    </div>
  </Transition>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.notification {
  margin-top: 20px;
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 20%;
  pointer-events: none;
}

.notification-normal,
.notification-info,
.notification-success {
  background-color: var(--color3);
}

.notification-error,
.notification-warning {
  background-color: var(--color2);
}
</style>
